node_modules
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
parse/public
parse/config
parse/cloud/views/app
ratchet
client/app/ParseServices
server
kjm-dev
kjm-dev.0
kjm-dev.ns
local.0
local.ns
mongod.lock
deploy.bat
dep.bat
serve.bat
db/gamebase*
*.exe