<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,client}) app/app.css -->


    <link rel="stylesheet" href="app/4f4f3808.app.css">


    <!-- injector:css -->
    <!-- endinjector -->
    <!-- endbuild -->
</head>

<body ng-app="kjmApp" ng-controller="MasterCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!-- <div class="load-modal" ui-hide="!isViewLoading">
        <center>
            <popover>
                <div class="load-modal-inner">
                    <br>
                    <br>
                    <img class="center-block" height="50px" src="assets/images/c4ba0df1.loader.gif" />
                    <span>
                        <br>
                        <br>
                        <br><b>Loading...</b>
                    </span>
            </popover>
            <div>
        </center>
        </div> -->

    <style>
    .custom-menu-icon {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
    }
    .ui-hide {
        z-index: 0;
    }
    </style>

    <div class="container">
        <row>
            <div class="col-xs-12">
                <div id="page-wrapper" ng-show="!isViewLoading" ng-class="{'active': toggle}" ng-cloak>
                    <!-- Sidebar -->
                    <div id="sidebar-wrapper" ng-swipe-left="swipe(0)" ng-swipe-right="swipe(1)">
                        <ul class="sidebar">
                            <li class="sidebar-main">
                                <a href="#" class="sidebar-title" ng-click="swipe(0)">KJ Master<span class="menu-icon glyphicon glyphicon-transfer"></span></a>
                            </li>
                            <li ng-repeat="item in menu" class="sidebar-list">
                                <a ui-sref-active-eq="current-state" ui-sref="{{item.state}}">{{item.title}}<span class="menu-icon" ng-class="item.icon"></span></a>
                            </li>
                            <li class="separator"></li>
                            <li ng-show="sessionUser.get('nick')" class="sidebar-title">{{sessionUser.get('nick')}}'s Links
                                <span class="fa fa-user menu-icon"></span>
                            </li>
                            <li ng-show="sessionUser.get('nick')" class="sidebar-list">
                                <a ui-sref-active-eq="current-state" href="/history">History<span class="fa fa-history menu-icon"></span></a>
                            </li>
                            <li ui-sref-active-eq="current-state" ng-show="sessionUser.get('nick')" class="sidebar-list">
                                <a href="/songbook">Songbook<span class="fa fa-bookmar menu-icon"></span></a>
                            </li>
                            <li ui-sref-active-eq="current-state" ng-hide="sessionUser.get('nick')" class="sidebar-list">
                                <a ui-sref="login">Login<span class="fa fa-sign-in menu-icon"></span></a>
                            </li>
                            <li ui-sref-active-eq="current-state" ng-hide="sessionUser.get('nick')" class="sidebar-list">
                                <a ui-sref="signup">Sign up<span class="fa fa-key menu-icon"></span></a>
                            </li>
                        </ul>
                        <div class="sidebar-footer">
                            <div ng-show="sessionUser" class="col-xs-4">
                                <a ui-sref-active-eq="current-state" ui-sref="settings">Account</a>
                            </div>
                            <div ui-sref-active-eq="current-state" ng-show="sessionUser" class="col-xs-4">
                                <a ui-sref="logout">Logout</a>
                            </div>
                            <div ui-sref-active-eq="current-state" ng-hide="sessionUser.get('nick')" class="col-xs-4">
                                <a ui-sref="login">Login</a>
                            </div>
                            <div ui-sref-active-eq="current-state" ng-hide="sessionUser.get('nick')" class="col-xs-4">
                                <a ui-sref="signup">Signup</a>
                            </div>
                            <div ui-sref-active-eq="current-state" ng-show="isAdmin()" ui-sref-active-eq="active">
                                <a ui-sref="admin">Admin</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Sidebar -->
                    <!-- Begin Content Wrapper-->
                    <div id="content-wrapper">
                        <!-- Begin Page Content -->
                        <div class="page-content">
                            <!-- Header Bar -->
                            <!-- End Header Bar -->
                            <!-- Begin Main Content -->
                            <div ng-class="{hidden:!alerts[0]}" class="row alerts-container" data-ng-cloak data-ng-show="alerts.length">
                                <div class="col-xs-12">
                                    <alert ng-show="alerts[0]" data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                                </div>
                            </div>
                            <section data-ui-view>
                                <rd-loading></rd-loading>
                            </section>


                            <!-- End Main Content -->
                        </div>
                        <!-- End Page Content -->
                    </div>
                    <!-- End Content Wrapper -->
                </div>
                <!-- End Page Wrapper -->
            </div>
            <!--End Column-->
        </row>
        <!--End Row-->
    </div>
    <!--End Container-->
     <div id="fb-root"></div>

   

  
    <!-- Async resolve promise when FB SDK is loaded, this triggers Parse.FacebookUtils.init() -->
  
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <script src="app/59277eb6.vendor.js"></script>

    <!-- build:js({.tmp,client}) app/app.js -->
    <script src="app/05e31b99.app.js"></script>
    <!-- injector:js -->
    <script src="app/ParseServices/ParseSDK/ParseSDK.service.js"></script>
    <script src="app/account/account.js"></script>
    <script src="app/account/login/login.controller.js"></script>
    <script src="app/account/settings/settings.controller.js"></script>
    <script src="app/account/signup/signup.controller.js"></script>
    <script src="app/admin/admin.controller.js"></script>
    <script src="app/admin/admin.js"></script>
    <script src="app/catalog/catalog.controller.js"></script>
    <script src="app/catalog/catalog.js"></script>
    <script src="app/catalog/catalog.letter.controller.js"></script>
    <script src="app/catalog/catalog.named.controller.js"></script>
    <script src="app/checkLogin/checkLogin.directive.js"></script>
    <script src="app/dashboard/controllers/alerts-ctrl.js"></script>
    <script src="app/dashboard/controllers/master-ctrl.js"></script>
    <script src="app/dashboard/directives/loading.js"></script>
    <script src="app/dashboard/directives/widget-body.js"></script>
    <script src="app/dashboard/directives/widget-header.js"></script>
    <script src="app/dashboard/directives/widget-headercal.js"></script>
    <script src="app/dashboard/directives/widget.js"></script>
    <script src="app/db/Models/history.js"></script>
    <script src="app/db/Models/queue.js"></script>
    <script src="app/db/Models/request.js"></script>
    <script src="app/db/Models/requestFromWeb/requestFromWeb.js"></script>
    <script src="app/db/Models/songFile.js"></script>
    <script src="app/db/Models/webRequest.js"></script>
    <script src="app/db/services/AuthDb.service.js"></script>
    <script src="app/facebook/facebook.service.js"></script>
    <script src="app/faq/faq.controller.js"></script>
    <script src="app/faq/faq.js"></script>
    <script src="app/history/calendar.controller.js"></script>
    <script src="app/history/history.controller.js"></script>
    <script src="app/history/history.js"></script>
    <script src="app/main/main.controller.js"></script>
    <script src="app/main/main.js"></script>
    <script src="app/menu/mainMenu.js"></script>
    <script src="app/models/Song.js"></script>
    <script src="app/queue/queue.controller.js"></script>
    <script src="app/queue/queue.js"></script>
    <script src="app/requests/requests.controller.js"></script>
    <script src="app/requests/requests.js"></script>
    <script src="app/search/search.controller.js"></script>
    <script src="app/song/song.controller.js"></script>
    <script src="app/song/song.js"></script>
    <script src="app/song/song.modal.controller.js"></script>
    <script src="app/songbook/songbook.controller.js"></script>
    <script src="app/songbook/songbook.js"></script>
    <script src="components/auth/auth.service.js"></script>
    <script src="components/auth/user.service.js"></script>
    <script src="components/modal/modal.service.js"></script>
    <script src="components/mongoose-error/mongoose-error.directive.js"></script>
    <script src="components/navbar/navbar.controller.js"></script>
    <script src="components/socket/socket.service.js"></script>
    <!-- endinjector -->
    <!-- endbuild -->
    
    <script type="text/javascript">
      (function(doc, script) {
        var js, 
            fjs = doc.getElementsByTagName(script)[0],
            add = function(url, id) {
                if (doc.getElementById(id)) {return;}
                js = doc.createElement(script);
                js.src = url;
                id && (js.id = id);
                fjs.parentNode.insertBefore(js, fjs);
            };
        // Facebook SDK
        add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk');
        // Twitter SDK
      //  add('//platform.twitter.com/widgets.js', 'twitter-wjs');
      }(document, 'script'));
    </script>

  
    <!-- Async resolve promise when FB SDK is loaded, this triggers Parse.FacebookUtils.init() -->
    <script>
      var fbDeferred = $.Deferred();
      window.fbPromise = fbDeferred.promise();
      window.fbAsyncInit = function() {
        fbDeferred.resolve();
      };
    </script>
</body>

</html>
