<main-Menu></main-Menu>
<div class="col-md-12">
    <div ng-repeat="request in queue">
        <rd-widget ng-click="isCollapsed = !isCollapsed" class="col-md-6">
            <rd-widget-header href="#" uisref="queue" title="{{request.get('singer')}}">

                <img class="profile-pic img-circle" ng-src="{{singers[request.get('singerOrder')]}}" alt="singer pic">


            </rd-widget-header>

            <rd-widget-body>

                <div class="widget-content clearfix">
                    <div class="media">

                        <!-- <ul> -->
                        <div class="media-body">{{request.get('requests')[0].songName}}{{request.get('requests')[0].get('bareFile')}}</div>
                        <div collapse="isCollapsed">
                            <div class="well">
                                <ul>
                                    <li ng-repeat="req in request.get('requests')">{{req.songName}}{{req.get('bareFile')}}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- </ul> -->

                    </div>
            </rd-widget-body>

            <rd-widget-footer></rd-widget-footer>
        </rd-widget>
        </div>

    </div>

    <!--     <div class="widget">
        <div class="widget-header">
            Crab Bowl Queue
            <div class="pull-right col-xs-2 small text-center" style="line-height:1;color:#800000;">Wait time(apx):
                <br>
                <span>{{queueCount*4}} mins</span>
            </div>
        </div>
    </div>
    <div class="widget-body">
        <ol>
            <li ng-repeat="request in queue" ng-class="{'bg-info': singerMatch(request.get('singer'))}">
                <div ng-show="singerMatch(request.get('singer'))" class="bg-info small pull-right">Aprx {{request.get('singerOrder')*4}} mins.</div>{{request.get('singer')}}

                <ul>
                    <li ng-repeat="req in request.get('requests')">{{req.songName}}</li>
                </ul>
            </li>
        </ol>

    </div> -->
</div>

</div>
