<div ng-controller="CatalogCtrl">
    <div class="container-fluid" ng-swipe-left="swipeLeft('search')" ng-swipe-right="swipeRight('search')" ng-controller="SearchCtrl as searchCtrl">
        <div class="row">
            <div class="col-xs-12">
    <rd-widget>
        <rd-widget-header uisref="main" href="#" title="Home" icon="fa-home">
             <span><h4>Search Catalog</h4></span>
                    </rd-widget-header>
    <rd-widget-body>
        <div class="widget-content clearfix">
            <div class="form">
                <form class="input-form" role="search">
                    <div class="col-xs-12 col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                    <button type="reset" ng-hide="searchCollapsed" ng-click="searchClear()" class="btn btn-default pull-right">
                                                        <span class="glyphicon glyphicon-remove">
                                                            <span class="sr-only">Close</span>
                                            </span>
                                            </button>
                                            </span>
                                            <input type="text" ng-hide="searchCollapsed" class="form-control" ng-model="searchTerm" style="margin-top:5px" placeholder="Search">
                                            <!-- <span class="input-group-btn"> -->
                                            <span class="input-group-btn">
                                                    <button ng-click="$state.go('catalog.search.results',{'searchTerm':searchTerm})" type="submit" class="btn btn-default inline">
                                                        <span class="glyphicon glyphicon-search">
                                                            <span class="sr-only">Search</span>
                                            </span>
                                            </button>
                                            </span>

                                            <!-- </span> -->

                                        </div>
                                    </div>
                                </form>
                            </div>

                    </rd-widget-body>

                    <rd-widget-footer></rd-widget-footer>
                </rd-widget>

                </div>
            </div>

            <div class="col-xs-12">

                <div ui-view autoscroll>
                    <rd-loading ng-show="isLoadingResults"></rd-loading </div>

                </div>
            </div>
        </div>

    </div>
