<!-- main area -->
<main-Menu></main-Menu>

<!-- <img src="assets/images/yeoman.png" class="img-responsive center-block" alt="KJ Master Logo"> -->
<div class="row">
    <div class="col-xs-12 btn-group" role="group">
        <a class="col-xs-3 btn btn-primary bgp" style="margin-top:10px;padding-bottom:10px;z-index:100;" ui-sref="catalog.artists" href="#">Catalog</a>
        <a class="col-xs-3 btn btn-primary bgp" style="margin-top:10px;padding-bottom:10px;" href="#" ui-sref="songbook">Songbook</a>
        <a class="col-xs-3 btn btn-primary bgp" style="margin-top:10px;padding-bottom:10px;" href="#" ui-sref="history">History</a>
        <a class="col-xs-3 btn btn-primary bgp" style="margin-top:10px;padding-bottom:10px;" href="#" ui-sref="queue">Queue  <div class="badge" style="padding-left:5px">{{queueCount}}</div></a>

    </div>
</div>
<!-- <div class="jumbotron" ng-swipe-left="swipe(0)"> -->
<div class="row col-md-6">
    <div class="list-group-item" >
    <div href="#" ng-click="$state.go('queue')" class="widget">
       
        <div class="widget-header">
            Crab Bowl Queue
        </div>
    </a>
        <div class="widget-body">

            <ol>
                <li ng-hide="singerMatch(request.get('singer'))" ng-repeat="request in queue" ng-class="{'bg-info': singerMatch(request.get('singer'))}">{{request.get('singer')}}</li>

                <li ng-show="singerMatch(request.get('singer'))" ng-repeat="request in queue" ng-class="{'bg-info': singerMatch(request.get('singer'))}">
                <a href="#" ui-sref="requests" ><div  class="label label-success small pull-right">Aprx {{queue.indexOf(request)*3.5}} mins.</div>{{request.get('singer')}}</a></li>
            </ol>
            <a ui-sref="queue" class="small pull-right">view more</a>
        </div>
    </div>
</div>
</div>
<div class="col-md-6">
    <div class="widget">
        <div class="widget-header">
            Quicklist
           <!--  <span class="small pull-right">edit</span> -->
        </div>

        <div class="widget-body">
            <ol>
                <li ng-repeat="result in quickList"><a ui-sref="song({id:result.id, lastState:$state.$current.self.name})" href="#">{{result.name}}</a></li>
            </ol>
            <a ui-sref="songbook" class="small pull-right">view more</a>
        </div>
    </div>
</div>
<!--  <div class="text-center center-block">
        <img src="assets/images/kjmpic2.gif" class="img img-responsive center-block" alt="KJ Master Karaoke">
        <img src="assets/images/yeoman.png" alt="Logo">
        <br>K A R A O K E

    </div> -->
<!-- </div> -->




<!-- <div class="row marketing">
 <!--  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p> -->
<!-- </div> -->
