<main-Menu></main-Menu>
<div class="col-xs-12">
    <a ng-show="lastState" ui-sref="{{lastState}}" href="#">
        <span class="glyphicon glyphicon-hand-left">
            <span>Back</span>
        </span>
    </a>
    <div class="widget">
        <div class="widget-header">
            <h3>{{artist}} - {{title}}</h3>
        </div>
        <div class="widget-body">

            <b>Artist:</b>  <a class="link" ng-href="artist/{{artist}}">{{artist}}</a>
            <br>
            <b>Title:</b>  <a class="link" ng-href="title/{{title}}">{{title}}</a>
            <br>
            <b>Disc:</b> {{discNum}}
            <br>
            <b>Track:</b>{{track}}
            <br>
        </div>
    </div>
    <div class="text-center" ng-show="enableButtons">
        <button ng-hide="isInSongbook" ng-click="addSongbook(id)" class="btn btn-primary">
            <label>Add Songbook</label>
        </button>

        <button ng-show="isInSongbook" ng-click="delSongbook(id)" class="btn btn-primary">
            <label>Remove Songbook</label>
        </button>
        <button ng-hide="isInQuickList" ng-click="addQuickList(id)" class="btn btn-primary">
            <label>Add Quick List</label>
        </button>

        <button ng-show="isInQuickList" ng-click="delQuickList(id)" class="btn btn-primary">
            <label>Remove Quick List</label>
        </button>
        <button ng-click="request(id)" class="btn btn-primary">
            <label>Request Now</label>
        </button>
    </div>
    <div class="text-center" ng-hide="enableButtons">
        <span><a ui-sref="signup" href="#">Sign up</a> or <a ui-sref="login" href="#">login</a> to request this song or add it to your personal songbook.</span>
    </div>
